<nav class="navbar">
    <a class="title" href="/"><h1 class="title"><span class="highlight">C</span>ar<span class="highlight">C</span>ool</h1></a>
    <form class="buttons">
        <a href="/rides/new"><button class="button">New Ride Post</button></a>
        <a href="/login"><button class="button">LogIn</button></a>
        <a href="/sign-up"><button class="button">Sign up</button></a>
        <a href="/logout"><button class="button">LogOut</button></a>

    </form>

    <form class="search">
        <input class="term" type="search" placeholder="Search" aria-label="Search" for="button">
        <button class="button" type="submit">Search</button>
    </form>
</nav>