<div class="route">
    <h1 class="name">{{this.route}}</h1>
    <h2 class="time">{{this.time}}</h2>
    <h2 class="description">{{this.description}}</h2>
    <a class="details-button" href="/rides/view/{{this._id}}" role="button">View Details</a>
    <hr>
</div>