<!--views/partials/blog-form.handlebars-->

<fieldset class="container">
  <legend>Edit Ride Post</legend>
  <!-- TITLE -->
  <p>
    <label for="ride-title">Route (start/finish)</label><br>
    <input id="ride-route" type="text" name="route" value="{{ride.route}}"/>
  </p>

  <!-- Article TITLE -->
  <p>
    <label for="article-title">Date/Time</label><br>
    <input id="ride-time" type="text" name="time" value="{{ride.time}}" />
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="ride-description">Description</label><br>
    <textarea id="ride-description" name="description" rows="10" />{{ride.description}}</textarea>
  </p>
</fieldset>
