<!-- views/layouts/main.handlebars -->
<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="/styles/index.css">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../../favicon.ico">
    <meta charset="utf-8">

    <title>CarCool Ride Share</title>
</head>

<body>
    {{> navbar}}
    {{{body}}}



</body>

</html>