<!-- views/rides-edit.handlebars -->
<div class="form-container">
    <h1 class="legend">Edit Ride Post</h1>
    <form method="POST" class="form" action="/rides/view/{{ride._id}}?_method=PUT">

        {{> rides-form}}
        <!-- BUTTON -->
        <div class="form-group">
            <button type="submit" class="submit">Save Ride</button>
        </div>
    </form>
</div>
<form method="GET" action="/">
    <button type="cancel" class="btn btn-primary btn-sm">Cancel</button>
</form>