<!-- views/rides-new.handlebars -->


<form method="POST" action="/rides/view/{{ride._id}}">

    {{> rides-form}}

    <!-- BUTTON -->
    <p>
        <button type="submit" class="btn btn-primary btn-sm">Save Ride</button>
    </p>
    <form method="GET" action="/">
        <button type="cancel" class="btn btn-primary btn-sm">Cancel</button>
    </form>

</form>
