<!-- views/rides-new.handlebars -->
<div class="form-container">
    <h1 class="legend">Edit Ride Post</h1>
    <form method="POST" class="form" action="/rides/view/{{ride._id}}">

        {{> rides-form}}

        <!-- BUTTON -->

        <div class="form-group">
            <button type="submit" class="submit">Save Ride</button>
        </div>

    </form>
</div>