<div class="login">
  <h1 class="legend">Sign Up!</h1>
  <form class="form" action="/sign-up" method="POST">
    <div class="form-group">
      <input for="user-username" type="text" name="username" class="text" id="user-username">
      <label for="user-username">Username</label>
    </div>
    <div class="form-group">
      <input for="user-password" type="password" name="password" class="form-control" id="user-password">
      <label for="user-password">Password</label>
    </div>
    <!-- <div class="form-group">
        <label for="email">Email</label>
        <input for="email" type="email" name="email" class="form-control" id="email" placeholder="email">
      </div> -->
    <div class="form-group">
      <label for="hasCar">Do you have a car?</label><br>
      <div class="car-selector">
        <input id="hasCar" type="radio" name="hasCar" value=1>Yes<br>
        <input id="hasCar" type="radio" name="hasCar" value=0>No<br>
      </div>
    </div>
    <div class='form-group'>
      <button type="submit" class="submit">Register</button>
    </div>
  </form>
</div>