    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148608734-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-148608734-1');
    </script>
<div class="form-container">
  <h1 class="legend">Sign Up!</h1>
  <form class="form" action="/sign-up" method="POST">
    <div class="form-group">
      <input for="user-username" type="text" name="username" class="text" id="username">
      <label for="user-username">Username</label>
    </div>
    <div class="form-group">
      <input for="user-email" type="text" name="email" class="text" id="email">
      <label for="user-email">Email Address</label>
    </div>
    <div class="form-group">
      <input for="user-password" type="password" name="password" class="form-control" id="password">
      <label for="user-password">Password</label>
    </div>
    <!-- <div class="form-group">
        <label for="email">Email</label>
        <input for="email" type="email" name="email" class="form-control" id="email" placeholder="email">
      </div> -->
    <div class="form-group">
      <label for="hasCar">Do you have a car?</label><br>
      <div class="car-selector">
        <input id="hasNoCar" type="radio" name="hasCar" value=1>
        <label  class="car-radio" for="hasNoCar">Yes!</label>
        <input id="hasCar" type="radio" name="hasCar"  value=0>
        <label class="car-radio" for='hasCar'>No :(</label>
      </div>
    </div>
    <div class='form-group'>
      <button type="submit" id="button" class="submit" disabled>Go!</button>
    </div>
  </form>
</div>
<script src="/js/login.js"></script>
