/* Global */
:root {
    --background-color: #F7F7F7;
    --text-color: #0F0F0F;
    --nav-color: #529aec;
    --button-hover: #3e77b9;
    --highlight-color: #F74038;
    --nav-placeholder: #355172;
    --route-hover: rgb(218, 216, 216);

}

html,
body {
    color: var(--text-color);
    background: var(--background-color);
    margin: 0px;
    padding: 0px;
    font-family: lato, sans-serif;

}

* {
}


.splash {
    margin: 30px 30px 0px 30px;
}

.hidden {
    display: none;
}

/* NavBar */
.navbar {
    background: var(--nav-color);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .title {
    color: var(--text-color);
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
    
}

.vl {
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
    background: var(--nav-placeholder);
}

.highlight {
    color: var(--highlight-color);
}

.navbar .buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar .button {
    padding: 10px;
    /* background: var(--button-color); */
    font-size: 1.2em;
    /* font-weight: bold; */
    /* border: 1px solid black; */
    text-decoration: none;
    border-radius: 5px;
    color: var(--text-color);
    -webkit-transition: background .2s;
    transition: background .2s;
}

.navbar .button:hover {
    background: var(--button-hover)
}

.navbar .search {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .search .term {
    background: var(--nav-color);
    color: var(--text-color);
    padding: 7px;
    border: 0px;
    border-bottom: 1px solid;
    font-size: 1em;
}

.navbar .search .term::placeholder {
    color: var(--nav-placeholder);
}

/* Ride partial */

.rides {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.route {
    padding: 10px 0px;
    border-radius: 5px;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.route-link {
    text-decoration: none;
    color: var(--text-color);

}

.route:hover {
    background: var(--route-hover);
}

.route .desc-holder {
    margin: 10px;

}

.route .description {
    font-size: 1.2em;
}


